<div class="stars">
  <form #rating ="ngForm" (change)="onClick(rating.value.star)">
    <input class="star star-5" #star1="ngModel"  value = 5 id="star-5" type="radio" name="star" ngModel/>
    <label class="star star-5"  for="star-5"></label>
    <input class="star star-4" #star2="ngModel" value = 4 id="star-4" type="radio" name="star" ngModel/>
    <label class="star star-4" for="star-4"></label>
    <input class="star star-3" #star3="ngModel" value = 3 id="star-3" type="radio" name="star" ngModel/>
    <label class="star star-3" for="star-3"></label>
    <input class="star star-2"  #star4="ngModel" value = 2 id="star-2" type="radio" name="star" ngModel/>
    <label class="star star-2" for="star-2"></label>
    <input class="star star-1"  #star5="ngModel" value = 1 id="star-1" type="radio" name="star" ngModel/>
    <label class="star star-1" for="star-1"></label>
  </form>
</div>
