<app-user-layout></app-user-layout>
<div style="text-align:center;">
  <br /><br />
  <h2>Add Artists</h2>
  <br />
  <br />
  <div class="table-responsive">
    <table class="table" style="border:5px solid rgba(220,230,242,1);">
      <tr style="background-color:rgba(220,230,242,1); font-size:12pt">
        <th style="text-align:center;">Choose The Artist </th>
      </tr>
      <tr style="background-color:white;text-align:center;">
        <td>
          <select class="form-control" #artistdrop (change)="addArtist(artistdrop.value)">
            <option value=0>Choose</option>
            <option *ngFor="let artist of ArtistList" value={{artist.artistId}}>
              {{artist.artistName}}
            </option>
            <option value=6>Add New Artist</option>
          </select>
        </td>
      </tr>
      <br />
      <div *ngIf="showDiv">
        <h3>Add Artist Details</h3>
        <div class="form-group">
          <div class="col" style="text-align:left">
            <label>Artist Name</label>
          </div>
          <div class="col; input-group">
            <input type="text" name="artistname" #name="ngModel" class="form-control qkinput" required ngModel>
          </div>
        </div>
        <div class="form-group">
          <div class="col" style="text-align:left">
            <label>Date Of Birth</label>
          </div>
          <div class="col; input-group">
            <input type="date" name="dob" #dob="ngModel" class="form-control qkinput" required ngModel>
          </div>
        </div>
        <div class="form-group">
          <div class="col" style="text-align:left">
            <label>Bio</label>
          </div>
          <div class="col; input-group">
            <input type="text" name="bio" #bio="ngModel" class="form-control qkinput" required ngModel>
          </div>
        </div>
        <div class="form-group" style="text-align:left">
          <button type="submit" (click)="addNewArtist(name.value,dob.value,bio.value)" class="btn">Add</button> &nbsp;&nbsp;
        </div>
      </div>

        <a routerLink="/home">Home</a>
      

    </table>
  </div>
</div>
